@media (max-width: 994px) {
  .navbar-light .navbar-toggler-icon {
    background-image: url("../../images/toggle.svg") !important;
  }
  .l-navbar {
    line-height: 30px;
  }
  .features .yellow-section .title {
    line-height: 1;
    padding-top: 25%;
  }
  .product .nav-item {
    width: 40%;
  }
  footer p {
    margin-top: 15%;
    line-height: 1;
  }
  .f-desktop {
    display: none;
  }
  .f-tablet {
    display: flex;
  }
  .promo .svgContainer {
    height: auto;
  }
  .features .box-container {
    margin-bottom: 30px;
    position: relative;
    display: block;
    background-color: var(--main-theme-color);
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    min-height: 400px;
    height: auto;
    border-bottom: var(--secondary-color--) solid 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .features .box-container img {
    position: relative;
    display: block;
    margin: 0 auto 30px auto;
    padding-bottom: 0px;
    width: unset;
    height: auto;
  }
  .features .box-container h4 {
    color: var(--secondary-color--);
    text-align: center;
  }
  .features .box-container p {
    font-size: 16px !important;
    color: var(--gray-font-color--);
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
  }
  .core-product-cards-container {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .f-desktop {
    display: none;
  }
  .f-tablet {
    display: flex;
  }
  .promo .svgContainer {
    height: auto;
  }
  .features .box-container {
    margin-bottom: 30px;
    position: relative;
    display: block;
    background-color: var(--main-theme-color);
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%;
    border-bottom: var(--secondary-color--) solid 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .features .box-container img {
    position: relative;
    display: block;
    margin: 0 auto 30px auto;
    padding-bottom: 0px;
    width: unset;
    height: auto;
  }
  .features .box-container h4 {
    color: var(--secondary-color--);
    text-align: center;
  }
  .features .box-container p {
    font-size: 16px !important;
    color: var(--gray-font-color--);
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
  }
}
@media (max-width: 766px) {
  .f-tablet {
    display: none;
   }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desktop-products {
    display: none;
  }
  .vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: unset;
    transform: unset;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../../images/toggle.svg") !important;
  }
  .navbar-light .navbar-toggler {
    border: unset;
    border-color: unset;
  }
  .promo {
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .promo .text h1 {
    font-size: 30px;
    color: var(--secondary-color--);
    margin-bottom: 0;
  }
  .promo .inter-active {
    display: block;
    margin: auto;
    text-align: center;
  }
  .promo .inter-active input {
    display: block;
    margin-left: 0;
    margin: auto;
    text-align: center;
    width: 140px;
  }
  .promo .text p {
    font-size: 18px;
  }
  .features .parallax-section .header .h2 {
    font-size: 26px;
  }
  .features .parallax-section .header p {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }
  .features .yellow-section .title {
    text-align: left;
    font-size: 18px;
    line-height: unset;
    padding-top: 20px;
    padding-left: 20px;
  }
  .features .yellow-section .text {
    font-size: 14px;
    padding-right: 50px;
  }

  .features .box-container {
    margin-bottom: 30px;
    position: relative;
    display: block;
    background-color: var(--main-theme-color);
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%;
    border-bottom: var(--secondary-color--) solid 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .features .box-container img {
    position: relative;
    display: block;
    margin: 0 auto 30px auto;
    padding-bottom: 0px;
    width: unset;
    height: auto;
  }
  .features .box-container h4 {
    color: var(--secondary-color--);
    text-align: center;
  }
  .features .box-container p {
    font-size: 16px !important;
    color: var(--gray-font-color--);
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
  }

  .core-product-cards-container {
    padding-left: 15;
    padding-right: 15;
    margin-bottom: 30px;
  }
  .core-product-cards-container .core-product-card {
    margin-bottom: 30px;
  }
  .journey .header p {
    font-size: 18px;
  }
  .video {
    margin-left: 15px;
    margin-right: 15px;
  }
  .team {
    background-image: unset;
    background-color: var(--gray-font-color--);
  }
  .truck {
    background-image: url("../../images/mobile-truck.png");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 95% center;
    background-size: contain;
  }
  .team .left-text {
    padding-bottom: 20px;
  }
  .team .left-text p {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
  }
  .team .right-text {
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 0;
  }
  .team .right-text p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
  }
  .team button {
    display: block;
    margin: auto;
  }
  .team .truck {
    padding-bottom: 40px;
  }
  .team .label {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 0;
  }
  .product {
    padding-bottom: 50px;
  }
  .product .text {
    margin-top: 40px;
    padding-right: 0;
  }
  .text-align-right {
    text-align: right;
  }
  .product .header h2 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 0;
  }
  .product .header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
  }
  .product .text h2 {
    font-size: 24px;
  }
  .product .text p {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 0;
  }
  .product .aps-right {
    margin-right: -15px;
  }

  .pricing .header h2 {
    font-size: 26px;
  }
  .pricing .header p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .pricing .prem {
    position: relative;
  }
  .custom-price {
    font-size: 40px !important;
  }
  .pricing .essential {
    position: relative;
  }
  .pricing .box-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
  }
  .pricing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pricing .box-container .header {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .pricing .box-container .header h1 {
    font-size: 26px;
  }
  .pricing .box-container .p-features .item img {
    width: 23px;
  }
  .pricing .box-container .p-features .item p {
    font-size: 13px;
  }
  .contact .right-section {
    border-left: none;
    padding-left: initial;
    padding-right: inherit;
  }
  .contact hr {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background: var(--gray-font-color--);
  }
  .contact .left-section h1 {
    font-size: 30px;
  }
  .contact .left-section p {
    font-size: 18px;
  }
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .social {
    margin-bottom: -5px;
    text-align: center;
  }
  footer .social ul {
    display: inline-flex;
    float: none;
    margin-left: 0;
    margin-bottom: 0;
  }
  footer .social ul li a {
    padding: 0 16px;
  }
  footer p {
    text-align: center;
    line-height: 2;
    font-size: 12px;
  }
  footer hr {
    margin-top: 20px;
    width: 50%;
    margin: 20px auto;
    height: 1px;
    object-fit: contain;
    background-color: #1c212b;
  }
  footer img {
    padding-top: 0;
  }
  footer p {
    margin-top: unset;
  }
  .thank .t-content {
    padding-top: 10%;
  }
  .thank .t-content img {
    width: 90px;
    height: 68px;
  }
  .thank .t-content h1 {
    font-size: 42px;
  }
  .thank .t-content p {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .core-product-cards-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .f-tablet {
    display: none;
   }
}
