@import "./variables.css";

/*Global*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", sans-serif !important;
}
header {
  position: sticky;
  top: 0;
  z-index: 10000;
}
.desktop {
  display: -webkit-box;
}
.desktop-products {
  display: block;
}
.mobile {
  display: none;
}
.padding-all {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.btn-primary {
  background-color: var(--secondary-color--) !important;
  color: var(--navbar-background-color--);
  min-width: 190px;
  min-height: 50px;
  font-weight: 700 !important;
  border-radius: 10px !important;
  border: var(--secondary-color--);
}

.btn-primary img {
  float: left;
  margin-top: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Work Sans", sans-serif !important;
}
.width100 {
  width: 100%;
}
.button-line {
  background-image: url("../../images/button-line.png");
  background-size: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position-x: 45px;
}
.carousel-initialized {
  overflow: hidden;
  position: relative;
  padding: 0px;
  width: 100%;
  text-align: center;
}
.carousel-dots li.carousel-dots-active button:before {
  opacity: 1;
  color: var(--secondary-color--) !important;
}
.carousel-dots li button:before {
  opacity: 1;
  color: var(--gray-font-color--) !important;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carousel-control-next-icon {
  background-image: url("../../images/path.png");
  height: 44px !important;
}
.carousel-control-next {
  opacity: 1;
  background-color: var(--secondary-color--);
}

.margintop60 {
  margin-top: 60px;
}
.marginbottom5 {
  margin-bottom: 5px !important;
}
.margintop20 {
  margin-top: 30px !important;
}
.marginleft {
  margin-left: 42%;
}
.video {
  width: 700px;
  margin: auto;
}
.navbar-brand {
  width: 150px;
}
/*pushing*/
.core-product-cards-container .core-product-card {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--main-theme-color);
  padding: 60px 30px 0 30px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-bottom: var(--secondary-color--) solid 10px;
}
.core-product-cards-container .core-product-card.has-blue-background {
  background-color: var(--main-theme-color);
}
.core-product-cards-container .core-product-card .product-icon-container {
  position: relative;
  display: block;
  margin: 0 auto 30px auto;
  padding-bottom: 30px;
  width: 140px;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.core-product-cards-container .core-product-card .product-icon-container:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 140px;
  height: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.core-product-cards-container
  .core-product-card
  .product-icon-container
  .product-icon {
  position: relative;
  display: block;
  height: 100%;
  max-height: 95px;
  width: auto;
  margin: 0 auto;
}
.core-product-cards-container .core-product-card .product-title,
.core-product-cards-container .core-product-card .product-description {
  color: var(--secondary-color--);
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.core-product-cards-container .core-product-card .product-description {
  font-size: 16px !important;
  color: var(--gray-font-color--);
  position: absolute;
  display: block;
  left: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.core-product-cards-container .core-product-card .product-title {
}
.core-product-cards-container .core-product-card .product-title:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90px;
  height: 1px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .core-product-cards-container
    .core-product-card:hover
    .product-icon-container {
    -webkit-transform: translateY(-155px);
    -ms-transform: translateY(-155px);
    transform: translateY(-155px);
  }
  .core-product-cards-container
    .core-product-card:hover
    .product-icon-container:after {
    opacity: 0;
  }
  .core-product-cards-container .core-product-card:hover .product-title,
  .core-product-cards-container .core-product-card:hover .product-description {
    -webkit-transform: translateY(-155px);
    -ms-transform: translateY(-155px);
    transform: translateY(-155px);
  }
  .core-product-cards-container .core-product-card:hover .product-title:after {
    opacity: 1;
  }
  .core-product-cards-container .core-product-card:hover .product-description {
    max-height: 100%;
  }
}
.core-product-cards-container .core-product-card .arrow-bottom {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1c2b39;
}
.core-product-cards-container .core-product-card .arrow-bottom:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  background-color: #1c2b39;
  width: 30px;
  height: 30px;
}
.core-product-cards-container .core-product-card .arrow-bottom:after {
  font-family: "icomoon" !important;
  content: "\e91a";
  position: absolute;
  display: block;
  bottom: 4px;
  right: 6px;
  color: #fff;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-dark-blue {
  background-color: #1c2b39;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-dark-blue:before {
  background-color: #1c2b39;
}
.core-product-cards-container .core-product-card .arrow-bottom.color-is-purple {
  background-color: #753b97;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-purple:before {
  background-color: #753b97;
}
.core-product-cards-container .core-product-card .arrow-bottom.color-is-green {
  background-color: #82c341;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-green:before {
  background-color: #82c341;
}
.core-product-cards-container .core-product-card .arrow-bottom.color-is-green {
  background-color: #82c341;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-green:before {
  background-color: #82c341;
}
.core-product-cards-container .core-product-card .arrow-bottom.color-is-red {
  background-color: #a20c33;
}
.core-product-cards-container
  .core-product-card
  .arrow-bottom.color-is-red:before {
  background-color: #a20c33;
}
.core-product-cards-container .core-product-card:hover {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Button sliding animation*/

.ctrl-standard.fx-sliderIn::after {
  background: var(--button-hover-color);
}
.ctrl-standard.fx-sliderIn.custom::after {
  background: var(--navbar-background-color--);
}
.ctrl-standard.fx-sliderIn.login::after {
  background: var(--button-hover-color);
  background-image: url("../../images/button-line.png");
  background-size: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position-x: 45px;
}

[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #231f20;
}
.ctrl-standard.fx-sliderIn.custom {
  background-color: var(--main-theme-color) !important;
  color: var(--gray-font-color--) !important;
}
.ctrl-standard.fx-sliderIn.custom:hover {
  color: var(--gray-font-color--);
}

[class*="fx-"],
[class*="fx-"]:hover {
  transition: color 0.5s ease-in-out;
}
[class*="fx-"]:not(.fx-dyna) {
  position: relative;
  z-index: 1;
  transition-delay: 0.2s !important;
  overflow: hidden;
}
[class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
[class*="fx-bubble"]::after {
  transition: height 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
}
[class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
  transition: height 0.5s ease-in-out;
  height: 300%;
}
[class*="fx-bubble"]:disabled:hover::after {
  height: 0;
}
.fx-sliderIn::after {
  transition: width 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
.fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
  transition: width 0.5s ease-in-out;
  width: 100%;
}
:checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
  width: 300%;
}
/*Navbar*/
.l-navbar {
  background-color: var(--navbar-background-color--);
  line-height: 35px;
}

.l-navbar .navbar-nav .nav-link {
  color: var(--gray-font-color--) !important;
  font-size: 15px;
  font-weight: 800;
}
.l-navbar .navbar-nav .nav-link:hover,
.l-navbar .navbar-nav .nav-link:active {
  color: var(--secondary-color--) !important;
}
.l-navbar .navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color--) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--gray-font-color--) !important;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary-color--) !important;
}
/*promo section*/
.promo {
  overflow: auto;
  background-color: #151a24;
  height: calc(100vh - 50px);
  position: relative;
}
.block {
  display: block;
}
.promo .desktop .text {
  z-index: 1;
  margin-top: 25%;
}
.promo .svgContainer {
      /* overflow: hidden; */
    /* background-size: cover; */

    /* width: 120%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 50px);
}
.promo .text h1 {
  font-size: 40px;
  color: var(--secondary-color--);
}

.promo .text p {
  font-size: 22px;
  color: var(--gray-font-color--);
}
.promo .image {
  overflow: hidden;
}
.promo .image img {
}
.promo .inter-active {
  display: inline-flex;
}
.promo .inter-active input {
  margin-left: 25px;
  margin-top: 10px;
  height: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: var(--gray-font-color--);
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: transparent;
  background-image: url("../../images/watch.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 15px;
  border-left: none;
  border-top: none;
  border-right: none;
}

.promo .inter-active .bottom {
  display: inline-block;
}
.promo .inter-active .bottom .credit {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #dbdfe6;
}
.promo .inter-active a img {
  padding-right: 6px;
}
/*features section*/
.features {
}
.features .yellow-section .carousel-indicators {
  display: none;
}
.features .yellow-section .carousel-control-prev-icon {
  display: none;
}
.features .yellow-section {
  background-color: var(--secondary-color--);
}
.features .yellow-section p {
  margin-bottom: 0;
}
.features .yellow-section .title {
  color: var(--main-theme-color);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.57px;
  line-height: 5;
}
.features .yellow-section .text {
  color: var(--main-theme-color);
  padding: 20px;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}
.features .yellow-section .margins {
  margin-right: 10%;
  margin-left: 10%;
}
.features .parallax-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../images/feature-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.features .parallax-section .header {
  text-align: center;
  margin: auto;
}
.features .parallax-section .header p {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
}

.features .parallax-section .bottom {
  margin-top: 60px;
  display: block;
}
.features .parallax-section .bottom button {
  margin: auto;
  display: block;
}
.features .parallax-section .bottom p {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
}
.features .parallax-section .boxes {
  position: relative;
  color: var(--secondary-color--);
}
.features .parallax-section .boxes .front img {
  margin-bottom: 20px;
}
.features .parallax-section .boxes .front h4 {
  color: var(--secondary-color--);
  font-weight: 500;
}

.features .parallax-section .boxes .back h4 {
  color: var(--secondary-color--);
  font-weight: 500;
}
.features .parallax-section .boxes .back p {
  font-size: 16px !important;
  color: var(--gray-font-color--);
}

/*journey Section*/
.journey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../images/product-journey-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.journey .header {
  text-align: center;
  margin: auto;
}
.journey .header h2 {
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.journey .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}

/*Team*/
.team {
  background-image: url("../../images/truck-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.truck {
  background-image: url("../../images/truck.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: 1;
}
.team .left-text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.team .left-text p {
  object-fit: contain;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: 0.57px;
  text-align: center;
}
.team .right-text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.team .right-text button {
  margin-top: 15px;
  margin: auto;
  display: block;
}
.team .right-text p {
  text-align: center;
  object-fit: contain;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  margin-bottom: 0;
}
.team .right-text .label {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
}
/*Product*/
.product {
  padding-top: 50px;
  overflow: hidden;
  background-color: var(--main-theme-color);
}
.product .aps {
  margin-left: -15px;
}
.product .header {
  text-align: center;
  margin: auto;
}
.product .header h2 {
  font-weight: 600;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.product .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.product .nav-item {
  width: 25%;
  margin: 10px;
  text-align: center;
}
.product .nav-pills .nav-link {
  border-radius: 0.25rem;
  color: var(--gray-font-color--);
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  border-bottom: 6px solid var(--gray-font-color--);
}
.product .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  border-bottom: 6px solid var(--secondary-color--);
}
.product .text {
  margin-top: 40px;
  padding-right: 20%;
}
.product .text h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--secondary-color--);
}
.product .text p {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: var(--gray-font-color--);
  margin-bottom: 10px;
}
.product .text ul li {
  display: flex;
}
.product .text ul li p {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  margin-bottom: 0;
  margin-left: 5px;
}
.product .bottom {
  display: inline-block;
}
.product .bottom button {
  margin-top: 10px;
}
.product .bottom p {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gray-font-color--);
}
/*Pricing*/
.pricing {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--gray-font-color--);
}
.pricing .header {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.pricing .header h2 {
  font-weight: 600;
  letter-spacing: 0.99px;
  color: var(--main-theme-color);
}
.pricing .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--main-theme-color);
}
.pricing .box-container {
  background-color: var(--whtie-font-color--);
  border-radius: 10px;
  border-bottom: 10px solid var(--essential-color);
}

.pricing .essential {
  position: absolute;
  bottom: 0;
}
.pricing .prof {
  border-bottom: 10px solid var(--main-theme-color) !important;
  margin-bottom: -25px;
  box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.2);
}
.pricing .prem {
  border-bottom: 10px solid var(--secondary-color--) !important;
  position: absolute;
  bottom: 0;
}
.pricing .prof .header {
  background-color: var(--main-theme-color) !important;
}
.pricing .prem .header {
  background-color: var(--secondary-color--) !important;
}
.pricing .box-container .header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--essential-color);
}
.pricing .box-container .header h1 {
  margin-bottom: 0;
  object-fit: contain;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--whtie-font-color--);
}
.pricing .box-container .bottom-p {
  position: absolute;
  bottom: -60px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #353a47;
}
.pricing .box-container .p-content span {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 15px;
}
.pricing .box-container .p-content span .dollar {
  display: contents;
  font-size: 20px !important;
  margin-bottom: 0;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--main-theme-color);
}
.pricing .box-container .p-content span h1 {
  font-size: 50px;
  margin-bottom: 0;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--main-theme-color);
}
.pricing .box-container .p-content span p {
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-theme-color);
}
.pricing .box-container .p-content p {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-theme-color);
}
.pricing .box-container .p-content .bottom {
  text-align: center;
}
.pricing .box-container .p-content .bottom a {
  padding-bottom: 0;
}
.pricing .box-container .p-content .bottom button {
  margin: auto;
  min-width: 250px;
}
.pricing .box-container .p-content .bottom p {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-theme-color);
}
.pricing .box-container .p-features {
  padding: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: var(--main-theme-color);
}
.pricing .box-container .p-features .item {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-top: 1px solid var(--gray-font-color--);
}
.pricing .box-container .p-features .item img {
}
.custom-price {
  font-size: 50px;
}
.pricing .box-container .p-features .item p {
  margin-left: 10px;
  font-size: 16px;
  padding-top: 5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--main-theme-color);
}
.div-relative {
  position: relative;
}

.div-abs {
  position: absolute;
  bottom: 0;
}

/*Testimonial*/
.testimonial {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url("../../images/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.testimonial .header {
  text-align: center;
  margin: auto;
}
.testimonial .header h2 {
  font-weight: 600;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.testimonial .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.testimonial .box-container {
  position: relative;
  background-color: var(--gray-font-color--);
  border-radius: 10px;
}
.testimonial .box-container .top {
  padding-bottom: 20px;
}
.testimonial .box-container .top p {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: var(--main-theme-color);
  padding: 20px;
}
.testimonial .box-container .bottom {
  position: relative;
}
.testimonial .box-container .bottom .left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.testimonial .box-container .bottom .right {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.testimonial .carousel-indicators {
  bottom: 0px;
  top: 120%;
}
.testimonial .carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--gray-font-color--);
}
.testimonial .carousel-indicators .active {
  background-color: var(--secondary-color--);
}
/*Contact*/
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--contact-us-section);
}
.contact .header {
  text-align: center;
  margin: auto;
}
.contact .header h2 {
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.contact .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.contact .left-section {
}
.contact .left-section h1 {
  object-fit: contain;
  font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: var(--secondary-color--);
}
.contact .left-section p {
  object-fit: contain;

  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.contact .left-section .info {
  margin-top: 30px;
}
.contact .left-section .info .detail {
  margin-bottom: 20px;
}
.contact .left-section .info .detail img {
  margin-top: -20px;
}
.contact .left-section .info .detail .text {
  display: inline-block;
  margin-left: 20px;
}
.contact .left-section .info .detail .text h5 {
  object-fit: contain;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  color: var(--gray-font-color--) !important;
}
.contact .left-section .info .detail .text p {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  color: var(--gray-font-color--) !important;
}
.contact .right-section {
  border-left: var(--gray-font-color--) solid 1px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact .right-section button {
  margin-top: 30px !important;
  font-weight: 700 !important;
  display: block;
  margin: auto;
}
.MuiFormControl-root {
  width: 100% !important;
}
.MuiFormLabel-root {
  color: var(--gray-font-color--) !important;
  font-size: 14px !important;
}
.MuiInput-underline:before {
  border-bottom: 1px solid var(--gray-font-color--) !important;
}
.MuiInput-colorSecondary.MuiInput-underline:after {
  border-bottom-color: var(--secondary-color--) !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: var(--gray-font-color--) !important;
}
.MuiOutlinedInput-colorSecondary.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--secondary-color--) !important;
}
.MuiInputBase-input {
  color: var(--whtie-font-color--) !important;
}
/*Footer*/
footer {
  background-color: var(--gray-font-color--);
  min-height: 90px;
}
footer p {
  object-fit: contain;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 100px;
  letter-spacing: normal;
  margin-bottom: 0;
}
footer p a {
  color: var(--main-theme-color);
}
footer p a:hover {
  color: var(--main-theme-color);
  text-decoration: none;
}
footer img {
  padding-top: 30px;
  display: block;
  margin: auto;
}

footer .social {
}
footer .social ul {
  display: inline-flex;
  float: right;
}
footer .social ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer .social ul li a {
  display: block;
  text-align: center;
  padding: 16px;
}
.thank {
  height: calc(100vh);
  background-color: var(--main-theme-color);
}
.thank .t-content {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 15%;
}
.thank .t-content img {
  width: 90px;
  height: 68px;
  margin-bottom: 50px;
}
.thank .t-content h1 {
  color: var(--secondary-color--);
  margin-bottom: 0;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1.09px;
}
.thank .t-content p {
  color: var(--secondary-color--);
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.09px;
}
.thank .t-content button {
}
