@import "./variables.css";

/*Global*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", sans-serif !important;
}
button {
  background-color: var(--secondary-color--);
  color: var(--navbar-background-color--);
  min-width: 150px;
  font-weight: 700 !important;
  border-radius: 10px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Work Sans", sans-serif !important;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carousel-control-next-icon {
  background-image: url("../../images/path.png");
  height: 44px !important;
}
.carousel-control-next {
  opacity: 1;
}

.margintop60 {
  margin-top: 60px;
}
.marginbottom5 {
  margin-bottom: 5px !important;
}
.video {
  max-width: 700px;
  margin: auto;
}
/*flipping animation*/
.flip {
  width: 100%;
  min-height: 280px;
}
.flip a {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 100%;
  min-height: 280px;
  padding: 35px;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  border-bottom: var(--secondary-color--) solid 10px;
}
.flip a .front {
  background-color: var(--main-theme-color);
  color: #fff;
  -webkit-transform: rotateY(0) translateZ(24px);
  -moz-transform: rotateY(0) translateZ(24px);
  -o-transform: rotateY(0) translateZ(24px);
  -ms-transform: rotateY(0) translateZ(24px);
  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: var(--main-theme-color);
  color: rgba(34, 34, 34, 0);
  -webkit-transform: rotateX(90deg) translateZ(24px);
  -moz-transform: rotateX(90deg) translateZ(24px);
  -o-transform: rotateX(90deg) translateZ(24px);
  -ms-transform: rotateX(90deg) translateZ(24px);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}

.flip a:hover {
  -webkit-transform: translateZ(-24px) rotateX(-90deg);
  -moz-transform: translateZ(-24px) rotateX(-90deg);
  -o-transform: translateZ(-24px) rotateX(-90deg);
  -ms-transform: translateZ(-24px) rotateX(-90deg);
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: var(--main-theme-color);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*Button sliding animation*/

.ctrl-standard.fx-sliderIn::after {
  background: var(--button-hover-color);
}

[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #231f20;
}

[class*="fx-"],
[class*="fx-"]:hover {
  transition: color 0.5s ease-in-out;
}
[class*="fx-"]:not(.fx-dyna) {
  position: relative;
  z-index: 1;
  transition-delay: 0.2s !important;
  overflow: hidden;
}
[class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
[class*="fx-bubble"]::after {
  transition: height 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
}
[class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
  transition: height 0.5s ease-in-out;
  height: 300%;
}
[class*="fx-bubble"]:disabled:hover::after {
  height: 0;
}
.fx-sliderIn::after {
  transition: width 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
.fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
  transition: width 0.5s ease-in-out;
  width: 100%;
}
:checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
  width: 300%;
}
/*Navbar*/
.l-navbar {
  background-color: var(--navbar-background-color--);
  line-height: 50px;
}

.l-navbar .navbar-nav .nav-link {
  color: var(--gray-font-color--);
  font-size: 16px;
}
.l-navbar .navbar-nav .nav-link:hover,
.l-navbar .navbar-nav .nav-link:active {
  color: var(--secondary-color--);
}

/*promo section*/
.promo {
  margin-top: 50px;
  overflow: auto;
  min-height: calc(100vh - 50px);
  background-color: var(--main-theme-color);
}
.promo .text {
}
.promo .text h1 {
  font-size: 60px;
  color: var(--secondary-color--);
}
.promo .text p {
  font-size: 22px;
  color: var(--gray-font-color--);
}
.promo .image {
  overflow: hidden;
}
.promo .image img {
  max-height: calc(100vh - 50px);
}

/*features section*/
.features {
}
.features .yellow-section {
  background-color: var(--secondary-color--);
}
.features .yellow-section p {
  margin-bottom: 0;
}
.features .yellow-section .title {
  color: var(--main-theme-color);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.57px;
  line-height: 5;
}
.features .yellow-section .text {
  color: var(--main-theme-color);
  font-weight: 500;
  font-size: 15px;
  position: relative;
  top: 30%;
}
.features .yellow-section .margins {
  margin-right: 10%;
  margin-left: 10%;
}
.features .parallax-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../images/feature-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.features .parallax-section .header {
  text-align: center;
  margin: auto;
}
.features .parallax-section .bottom {
  margin-top: 60px;
  display: block;
}
.features .parallax-section .bottom button {
  margin: auto;
  display: block;
}
.features .parallax-section .bottom p {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
}
.features .parallax-section .boxes {
  position: relative;
  color: var(--secondary-color--);
}
.features .parallax-section .boxes .front img {
  margin-bottom: 20px;
}
.features .parallax-section .boxes .front h4 {
  color: var(--secondary-color--);
  font-weight: 500;
}

.features .parallax-section .boxes .back h4 {
  color: var(--secondary-color--);
  font-weight: 500;
}
.features .parallax-section .boxes .back p {
  font-size: 16px !important;
  color: var(--gray-font-color--);
}

/*journey Section*/
.journey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../images/product-journey-background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.journey .header {
  text-align: center;
  margin: auto;
}
.journey .header h2 {
  font-weight: 600;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.journey .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}

/*Team*/

.team {
  background-image: url("../../images/truck-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.truck {
  background-image: url("../../images/truck.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: 1;
}
.team .left-text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.team .left-text p {
  object-fit: contain;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: 0.57px;
  text-align: center;
}
.team .right-text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.team .right-text button {
  margin-top: 15px;
  margin: auto;
  display: block;
}
.team .right-text p {
  text-align: center;
  object-fit: contain;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  margin-bottom: 0;
}
.team .right-text .label {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
}

/*Contact*/
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-theme-color);
}
.contact .header {
  text-align: center;
  margin: auto;
}
.contact .header h2 {
  font-weight: 600;
  letter-spacing: 0.99px;
  color: var(--whtie-font-color--);
}
.contact .header p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.contact .left-section {
    
}
.contact .left-section h1 {
  object-fit: contain;
  font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: var(--secondary-color--);
}
.contact .left-section p {
  object-fit: contain;

  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: var(--gray-font-color--);
}
.contact .left-section .info {
    margin-top:30px;
}
.contact .left-section .info .detail {
    margin-bottom: 20px;
}
.contact .left-section .info .detail img {
    margin-top: -20px;
}
.contact .left-section .info .detail .text {
    display: inline-block;
    margin-left: 20px;
}
.contact .left-section .info .detail .text h5 {
  object-fit: contain;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  
  letter-spacing: normal;
  color: var(--gray-font-color--) !important;
}
.contact .left-section .info .detail .text p {
    font-size: 14px;
    margin-bottom: 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  
  letter-spacing: normal;
  color: var(--gray-font-color--) !important;
}
.contact .right-section {
    border-left: var(--gray-font-color--) solid 1px;
}