:root {
    /* theme color */
    --main-theme-color : #1d232f;
    --navbar-background-color--:#282d39; 
    --secondary-color--:#fbaf19; 
    --button-hover-color:#F0A003;
    --gray-font-color--:#dbdfe6;
    --whtie-font-color--:#fff;
    --essential-color:#5b6a88;
    
  }